<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Bootstrap Admin Theme</title>
        
        <link href="/stylesheets/estilo.css" rel="stylesheet">
        
        <!-- Bootstrap Core CSS -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- MetisMenu CSS -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    
        <!-- Morris Charts CSS -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/morrisjs/morris.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">SiGPro</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <center><img src = "/sigpro-pequeno.png"></center>
               
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                             
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Vizualizar Perfil</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
                <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
            </ul>
            <!-- /.navbar-top-links -->

            <div id="menu-esq" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Painel de Controle</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div id="painel-1-box" class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i id="painel-1-icon" class="fa fa-cubes"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Projeto.count %></div>
                                    <div>Projetos Cadastrados</div>
                                </div>
                            </div>
                        </div>
                        <a href="/projetos">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Lista de Projetos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div id="painel-1-box" class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i id="painel-1-icon" class="fa fa-exclamation-triangle"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Bug.count %></div>
                                    <div>Bugs Cadastrados</div>
                                </div>
                            </div>
                        </div>
                        <a href="/bugs">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Lista de Bugs</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Controle de Projetos</div>
                         <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- A FAZER  -->              
                            <div id="painel-2-box-azul" class="list-group list-group-item col-md-4" style="background: #337ab7;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> A FAZER <span class="badge badge-light">4</span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                    <% Projeto.where('status=?', 'A Fazer').each do |p| %>
                                        <li class="list-group-item"><%= link_to "Projeto: " + p.titulo, "projetos/#{p.id}" %></li>
                                    <% end %>
                                    </ul>
                                </div>
                            </div>
                            <!-- EM PROGRESSO -->
                            <div id="painel-2-box-turquesa" class="list-group list-group-item col-md-4" style="background: #03706a;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> EM PROGRESSO <span class="badge badge-light">4</span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                    <% Projeto.where('status=?', 'Em desenvolvimento').each do |p| %>
                                        <li class="list-group-item"><%= link_to "Projeto: " + p.titulo, "projetos/#{p.id}" %></li>
                                    <% end %>
                                    </ul>
                                </div>             
                            </div>  
                            <!--  -->
                            <div id="painel-2-box-rosa" class="list-group list-group-item col-md-4" style="background: #ff9b00;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> CONCLUÍDO <span class="badge badge-light">4</span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                    <% Projeto.where('status=?', 'Concluido').each do |p| %>
                                        <li class="list-group-item"><%= link_to "Projeto: " + p.titulo, "projetos/#{p.id}" %></li>
                                    <% end %>
                                    </ul>
                                </div>             
                            </div>         
                        </div>
                    </div>
                </div><!-- /.col-lg-8 - Projetos-->
                
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Controle de Bugs</div>
                         <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- BACKLOG  -->              
                            <div id="painel-2-box-laranja" class="list-group list-group-item col-md-3" style="background: #337ab7;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> BACKLOG <span class="badge badge-light"><%= Bug.where("status='Backlog'").count %></span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                        <% Bug.where('status=?', 'Backlog').each do |b| %>
                                            <li class="list-group-item"><%= link_to "Bug: " + b.titulo, "bugs/#{b.id}" %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                            <!-- A FAZER -->
                            <div id="painel-2-box-azul" class="list-group list-group-item col-md-3" style="background: #03706a;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> A FAZER <span class="badge badge-light"><%= Bug.where("status='A Fazer'").count %></span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                        <% Bug.where('status=?', 'A Fazer').each do |b| %>
                                            <li class="list-group-item"><%= link_to "Bug: " + b.titulo, "bugs/#{b.id}" %></li>
                                        <% end %>
                                    </ul>
                                </div>             
                            </div> 
                            <!-- EM PROGRESSO  -->              
                            <div id="painel-2-box-turquesa" class="list-group list-group-item col-md-3" style="background: #337ab7;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> EM PROGRESSO <span class="badge badge-light"><%= Bug.where("status='Em progresso'").count %></span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                        <% Bug.where('status=?', 'Em progresso').each do |b| %>
                                            <li class="list-group-item"><%= link_to "Bug: " + b.titulo, "bugs/#{b.id}" %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                            <!-- CONCLUIDO -->
                            <div id="painel-2-box-rosa" class="list-group list-group-item col-md-3" style="background: #ff9b00;">
                                <p><b><i class="fa fa-thumb-tack" aria-hidden="true"></i> CONCLUÍDO <span class="badge badge-light"><%= Bug.where("status='Concluido'").count %></span></b></p>
                                <div class="list-group-item">
                                    <ul id="listas">
                                    <% Bug.where('status=?', 'Concluido').each do |p| %>
                                        <li class="list-group-item"><%= link_to "Bug: " + p.titulo, "bugs/#{p.id}" %></li>
                                    <% end %>
                                    </ul>
                                </div>             
                            </div>         
                        </div>
                    </div>
                </div><!-- /.col-lg-8 - Projetos-->
        </div>
    </div>
</div>


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/raphael/raphael.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/morrisjs/morris.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
</body>
</html>